<!DOCTYPE html>
<html lang="en" ng-app="myApp" id="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chợ xép 24/7</title>
    <link href="css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="css/charisma-app.css" rel="stylesheet" />

    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link href="css/custom-style.css" rel="stylesheet" />
    <!--<link href="css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/simple-sidebar.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="highlight/styles/github.css">
    <link rel="stylesheet" href="css/isteven-multi-select.css">
    <link href="css/drag-drop-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,900|Roboto+Slab:400,700' type='text/css'>-->
    <!--<link href="css/custom.css" rel="stylesheet" />-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.Scripts/app/js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="Scripts/app/js/libs/progressbar.js"></script>
    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="highlight/highlight.pack.js"></script>
    <script src="Scripts/app/js/libs/isteven-multi-select.js"></script>
    <script src="Scripts/app/js/libs/paypal-button.min.js"></script>
    <script src="Scripts/app/js/app.js"></script>
    <script src="Scripts/app/js/libs/helper.js"></script>
    <script src="Scripts/app/js/controllers/demo-minimum.js"></script>
    <script src="Scripts/app/js/controllers/demo-custom.js"></script>
    <script src="Scripts/app/js/services/demo-custom-service.js"></script>
    <script src="Scripts/app/js/libs/common-logic-code.js"></script>
    <script src="Scripts/app/js/controllers/new-post.js"></script>
    <script src="Scripts/app/js/libs/sx-wizard.js"></script>
    <script src="Scripts/app/js/libs/sx-wizard-tpls.js"></script>
    <script src="Scripts/app/js/libs/step-05-custmize-nav.js"></script>
    <script src="Scripts/app/js/services/region-service.js"></script>
    <script src="Scripts/app/js/libs/ng-droplet.js"></script>



    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</head>

<body ng-controller="appController">
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/main">
                <img alt="Charisma Logo" src="img/logo20.png" class="hidden-xs" />
                <span>Chợ xép 24/7</span>
            </a>
            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> Admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->
            <!-- theme selector starts -->
            <div class="btn-group pull-right theme-container animated tada" >
                <button ng-click="launch()" class=" btn btn-success">Đăng bài miễn phí</button>
            </div>
            <!-- theme selector ends -->
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-star"></i> Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">
            <!-- left menu starts -->
            <div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">
                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li class="nav-header">Main</li>
                            <li>
                                <a class="ajax-link" href="#/main"><i class="glyphicon glyphicon-home"></i><span> Trang chủ</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="#" >
                                <i class="glyphicon glyphicon-eye-open" ></i><span> UI Features</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" data-ng-click="launch()">
                                    <i class="glyphicon glyphicon-edit"></i><span> Đăng bài</span>
                                </a>
                            </li>
                            <li>
                                <a class="ajax-link" href="chart.html"><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="typography.html"><i class="glyphicon glyphicon-font"></i><span> Typography</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="gallery.html"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a>
                            </li>
                            <li class="nav-header hidden-md">Sample Section</li>
                            <li>
                                <a class="ajax-link" href="table.html">
                                    <i class="glyphicon glyphicon-align-justify"></i><span> Tables</span>
                                </a>
                            </li>
                            <li class="accordion">
                                <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Accordion Menu</span></a>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Child Menu 1</a></li>
                                    <li><a href="#">Child Menu 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="ajax-link" href="calendar.html"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                            </li>
                            <li>
                                <a class="ajax-link" href="grid.html">
                                    <i class="glyphicon glyphicon-th"></i><span> Grid</span>
                                </a>
                            </li>
                            <li><a href="tour.html"><i class="glyphicon glyphicon-globe"></i><span> Tour</span></a></li>
                            <li>
                                <a class="ajax-link" href="icon.html">
                                    <i class="glyphicon glyphicon-star"></i><span> Icons</span>
                                </a>
                            </li>
                            <li>
                                <a href="error.html"><i class="glyphicon glyphicon-ban-circle"></i><span> Error Page</span></a>
                            </li>
                            <li>
                                <a href="login.html"><i class="glyphicon glyphicon-lock"></i><span> Login Page</span></a>
                            </li>
                        </ul>
                        <label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
                    </div>
                </div>
            </div>
            <!--/span-->
            <!-- left menu ends -->
            <div id="page-content-wrapper">
                <div class="container-fluid removePadding" ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>
