<div class="row">
    <div class="col-sm-12">
        <h3 class="pageHeading">Demo > Custom</h3>
        <p>Vertical grouping</p>
        <div isteven-multi-select
             input-model="webBrowsersGrouped"
             output-model="outputBrowsers1"
             button-label="icon name"
             item-label="icon name maker"
             tick-property="ticked"
             group-property="msGroup">
        </div>
    </div>
</div>

<!--<ul id="s-results-list-atf" class="s-result-list s-col-1 s-col-ws-1 s-result-list-hgrid s-height-equalized s-list-view s-text-condensed">
    <li id="result_0" data-asin="B000KJQ1DG" class="s-result-item celwidget">
        <div class="s-item-container">
            <div class="a-fixed-left-grid">
                <div class="a-fixed-left-grid-inner" style="padding-left:160px">
                    <div class="a-fixed-left-grid-col a-col-left" style="width:160px;margin-left:-160px;_margin-left:-80px;float:left;">
                        <div class="a-row">
                            <div aria-hidden="true" class="a-column a-span12 a-text-center">
                                <a class="a-link-normal a-text-normal" href="">
                                    <img alt="Product Details" src="https://images-na.ssl-images-amazon.com/images/I/5161FDA5N3L._AA160_.jpg" class="s-access-image cfMarker" height="160" width="160">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="a-fixed-left-grid-col a-col-right" style="padding-left:2%;*width:97.6%;float:left;">
                        <div class="a-row a-spacing-small">
                            <a class="a-link-normal s-access-detail-page  a-text-normal" title="{{post.Title}}" href="#">
                                <h2 class="a-size-medium a-color-null s-inline s-access-title a-text-normal">
                                    {{post.Title}}
                                </h2>
                            </a><div class="a-row a-spacing-none">
                                <span class="a-size-small a-color-secondary">{{post.CreateDate}} </span>
                            </div>
                        </div><div class="a-row">
                            <div class="a-column a-span7">
                                <div class="a-row a-spacing-none">
                                    <a class="a-link-normal a-text-normal" href="#"><span class="a-size-base a-color-price s-price a-text-bold">{{post.Price}}</span></a>
                                </div>
                                <div class="a-row a-spacing-mini">
                                    <div class="a-row a-spacing-none">
                                        <span class="a-size-small a-color-price">{{post.Detail| limitTo: 100}}.</span>
                                    </div>
                                </div>
                                <div class="a-row a-spacing-mini">
                                    <div class="a-row a-spacing-none">
                                        <div class="a-row a-spacing-mini"></div>
                                        <span class="a-size-small a-color-secondary">tại {{post.Region.Name}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<!-- /#sidebar-wrapper -->
<!-- Page Content -->-->
