<!-- #region name -->

<!--<form name="form" class="form-horizontal form-bordered form-row-stripped">
    <div class="fuelux">
        <div class="well" wizard="stepCurrent" change="log(event)" changed="log(event)" finish="log(event)">
            <div class="wizard">
                <ul class="steps">
                    <li><span class="badge badge-info">1</span>Nhập thông tin<span class="chevron"></span></li>
                    <li><span class="badge">2</span>Xác minh<span class="chevron"></span></li>
                    <li><span class="badge">3</span>Hoàn tất<span class="chevron"></span></li>
                </ul>
                <div class="actions">
                    <button type="button" class="btn btn-primary btn-xs btn-prev"><i class="fa fa-arrow-left"></i>Prev</button>
                    <button type="button" class="btn btn-primary btn-xs btn-next">{{currentStepIndex==steps.length-1?'Finish':'Next'}}<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="vnMainLayout-Steps" style="height: auto;">
                <div class="step-content ui-layout-center" style="background: #FFFFFF;border: 1px solid #BBBBBB;" class="step-content ui-layout-center ui-layout-pane ui-layout-pane-center">
                    <div class="step-pane">
                        <div class="portlet-body form" style="display: block;">
                            <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Tên</label>
                                        <div class="col-md-4">
                                            <input type="text" name="email" class="form-control" data-ng-model="email" required />
                                        </div>
                                        <span class="help-inline" ng-show="(form.email.$dirty || submitted) && form.email.$error.required">Nhập tên</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="step-pane">step 2</div>
                    <div class="step-pane">step 3</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right bottom-prev-next">
                    <button id="vnBtnNext" type="button" ng-disabled="form.$invalid" ng-click="getNext()" class="btn btn-primary btn-sm btn-next">
                        Tiếp tục
                        <i class="fa fa-arrow-right"></i>
                    </button>
                    <button id="vnBtnPrev" type="button" class="btn btn-primary btn-sm btn-prev pull-left"><i class="fa fa-arrow-left"></i>Trở về</button>
                </div>
            </div>
        </div>
    </div>
</form>-->

<!-- #endregion -->

<div class="panel panel-info" ng-controller="newPost">
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" ng-click="launch()">Launch Wizard</button>
    </div>
</div>