<p>That's almost all features of my wizard.</p>
<p>Just one more thing, you can specify final validation logic before user completed wizard in <code>wizard.config()</code> function through the member <code>successing</code>.</p>
<p>In this example I just use <code>window.alert()</code> to show the data.</p>
<p>Please be aware this method is sample as <code>$scope.$context.behaviour.leaving</code>, you must call<code>callback(valid)</code> to tell wizrd your validation is finished.</p>

<ul>
    <li>Author: Shaun Xu</li>
    <li>Source Code: 
        <a href="https://github.com/shaunxu/angular-toolkits/tree/master/wizard">https://github.com/shaunxu/angular-toolkits/tree/master/wizard</a>
    </li>
    <li>License: The MIT License (MIT)</li>
</ul>