<form name="confirmForm" novalidate>
    <div class="panel panel-info">
        <div class="panel-heading">
            Xem trước thông tin sẽ được đăng
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Tên: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.Name}}</label>
                    </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-4 control-label text-right">Email: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.Email}}</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Số điện thoại: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.Phone}}</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Hạng mục: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.CategoryDetailModel.Name}}</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Vùng: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.RegionModel.Name}}</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Tiêu đề: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.Title}}</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Nội dung: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.Detail}}</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Giá: </label>
                    <div class="col-sm-4">
                        <label class="control-label" style="font-weight:normal">{{$context.data.model.Price}}</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-4 control-label text-right">Hình ảnh</label>
                    <div class="col-sm-4">
                        <div id="imagesSection"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Thiết lập mật khẩu
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label text-right">Mật khẩu: </label>
                    <div class="col-sm-3">
                        <input class="form-control" ng-model='$context.data.model.Password' type="password" name='password' placeholder='nhập mật khẩu' required>
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-danger" ng-show="confirmForm.password.$error.required && (confirmForm.password.$dirty || confirmForm.$submitted)">Bạn chưa nhập mật khẩu</div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label text-right">Nhập lại mật khẩu: </label>
                    <div class="col-sm-3">
                        <input class="form-control" ng-model='$context.data.model.password_verify' type="password" name='confirm_password' placeholder='nhập lại mật khẩu' required verify-password="$context.data.model.Password">
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-danger" ng-show="confirmForm.confirm_password.$error.required && (confirmForm.confirm_password.$dirty || confirmForm.$submitted)">Nhập lại mật khẩu</div>
                        <div class="alert alert-danger" ng-show="(confirmForm.confirm_password.$error.verifyPassword) && (confirmForm.confirm_password.$dirty || confirmForm.$submitted)">Mật khẩu không phù hợp</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>