.modal-dialog 
{
width: 1000px;
top: 25px;
}
.step-container 
{
margin-top: 20px;
}
h1 
{
text-align: left;
}
.step-title
{
font-weight: bold;
}
.shadow 
{
z-index: 1099;
left: 0;
top: 0;
display: block;
overflow: hidden;
position: absolute;
outline: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, .65);
}
.outer 
{
display: table;
position: absolute;
height: 100%;
width: 100%;
}
.middle 
{
display: table-cell;
vertical-align: middle;
}
.inner 
{
text-align: center;
margin-left: auto;
margin-right: auto; 
}
/*---------------------------------------------------------------------------*/

.fuelux {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.fuelux:before,
.fuelux:after {
  display: table;
  line-height: 0;
  content: "";
}

.fuelux:after {  clear: both;}

.fuelux ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.fuelux ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 5px 0 20px;
  margin: 0;
  font-size: 16px;
  line-height: 46px !important;
  color: #999999;
  cursor: default;
  background: #ededed;
}

.fuelux ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

.fuelux ul li .chevron:before {
  position: absolute;
  top: -24px;
  right: 1px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #ededed;
  content: "";
}

.fuelux ul li.complete {
  color: #468847;
  background: #f3f4f5;
}

.fuelux ul li.complete:hover {
  cursor: pointer;
  background: #e7eff8;
}

.fuelux ul li.complete:hover .chevron:before {  border-left: 14px solid #e7eff8;}

.fuelux ul li.complete .chevron:before {  border-left: 14px solid #f3f4f5;}

.fuelux ul li.active {
  color: #3a87ad;
  background: #f1f6fc;
}

.fuelux ul li.active .chevron:before {  border-left: 14px solid #f1f6fc;}

.fuelux ul li .badge {  margin-right: 8px;}

.fuelux ul li:nth-child(1) {
  z-index: 10;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.fuelux ul li:nth-child(2) {  z-index: 9;}
.fuelux ul li:nth-child(3) {  z-index: 8;}
.fuelux ul li:nth-child(4) {  z-index: 7;}
.fuelux ul li:nth-child(5) {  z-index: 6;}
.fuelux ul li:nth-child(6) {  z-index: 5;}
.fuelux ul li:nth-child(7) {  z-index: 4;}
.fuelux ul li:nth-child(8) {  z-index: 3;}
.fuelux ul li:nth-child(9) {  z-index: 2;}
.fuelux ul li:nth-child(10) {  z-index: 1;}

.fuelux .actions {
  float: right;
  padding-right: 15px;
  line-height: 44px;
  vertical-align: middle;
}

.fuelux .actions a {
  margin-right: 8px;
  font-size: 12px;
  line-height: 45px;
}

.fuelux .actions .btn-prev i {  margin-right: 5px;}

.fuelux .actions .btn-next i {  margin-left: 5px;}

.fuelux .step-content{
  padding: 5px 0px 0px 0px !important;
  height: auto !important;
  overflow: auto;
  overflow-x: hidden;
  position: relative !important;
  background-color: transparent !important;
}
.fuelux .step-content .step-pane {
  display: none;
  padding: 0px 20px;
}
.fuelux .bottom-prev-next{  padding: 5px 20px;}
.fuelux .bottom-prev-next button{  margin-left: 2px;}

.fuelux .step-content .active {  display: block;}

.fuelux .step-content .active .btn-group .active {  display: inline-block;}
.badge-info{background-color: #3A87AD;}
.badge-success{background-color: #468847;}


/* ======= Alert Modal ======= */
.alert-modal {
  z-index: 1060;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%);
  -moz-transform: translate(0px, -100%);
  -o-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
  opacity: 0;
}
.alert-modal .alert-modal-box {
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.alert-modal .alert-modal-box .alert-modal-box-header {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #eaeaea;
}
.alert-modal .alert-modal-box .alert-modal-box-header h1 {
  margin-top: 0;
}
.alert-modal .alert-modal-box .alert-modal-box-header h1 .fa {
  margin-right: 10px;
}
.alert-modal .alert-modal-box .alert-modal-box-header .success {
  color: #8fb347;
}
.alert-modal .alert-modal-box .alert-modal-box-header .warning {
  color: #ebac1f;
}
.alert-modal .alert-modal-box .alert-modal-box-header .danger {
  color: #ad3b0e;
}
.alert-modal .alert-modal-box .alert-modal-box-header .error {
  color: #ad3b0e;
}
.alert-modal .alert-modal-box .alert-modal-box-header .info {
  color: #34acdc;
}
.alert-modal .alert-modal-box .alert-modal-box-header .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999999;
  opacity: 1;
  padding: 10px 15px;
  font-size: 24px;
}
.alert-modal .alert-modal-box .alert-modal-box-body {
  padding: 20px 20px 0 20px;
}
.alert-modal .alert-modal-box .alert-modal-box-body span {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}
.alert-modal .alert-modal-box .alert-modal-box-footer {
  padding: 20px;
}
.alert-modal .alert-modal-box .alert-modal-box-footer .btn {
  width: 150px;
  margin: 0 10px;
}
.alert-modal.open {
  z-index: 1060;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .alert-modal .alert-modal-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* SOME CODE HERE */
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* SOME CODE HERE */
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* SOME CODE HERE */
}
/* ======= Alert Modal Loading ======= */
#alert-loading {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
#alert-loading .loader {
  position: fixed;
  top: 45%;
  left: 50%;
}
#alert-loading.open {
  z-index: 9999;
  opacity: 1;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* SOME CODE HERE */
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* SOME CODE HERE */
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* SOME CODE HERE */
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* SOME CODE HERE */
}