* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: table;
}

body, html {
    height: 100%;
}

.colourful {
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
}

div.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container-drl {
    width: 100%;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

    #container-drl div.droplet {
        width: 420px;
        margin: auto;
        text-align: left;
        position: relative;
    }

        #container-drl div.droplet h1 a {
            font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
            color: white;
            text-decoration: none;
            font-weight: normal;
            font-size: 40px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
        }

        #container-drl div.droplet ul.statistics {
            list-style-type: none;
            overflow: hidden;
        }

            #container-drl div.droplet ul.statistics li {
                float: left;
                overflow: hidden;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
                margin: 10px 5px 10px 0;
                color: white;
                font-family: Times New Roman, Times, serif;
                font-size: 11px;
                font-style: italic;
                padding: 1px;
                display: inline-block;
                border-radius: 2px;
                display: table-cell; vertical-align: middle; 
            }

                #container-drl div.droplet ul.statistics li label {
                    color: rgba(255, 255, 255, .5);
                }

        #container-drl div.droplet droplet {
            display: inline-block;
            z-index: 2;
            position: relative;
            border-radius: 2px;
            width: 100%;
            height: 280px;
            background-color: rgba(255, 255, 255, .1);
            margin-top: -5px;
            padding-top: 5px;
            transition: box-shadow 0.35s;
        }

            #container-drl div.droplet droplet div.loading {
                display: block;
                height: 395px;
                width: 670px;
                margin: 1px;
                margin-top: 6px;
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all .35s;
            }

                #container-drl div.droplet droplet div.loading.visible {
                    opacity: 1;
                }

            #container-drl div.droplet droplet.event-dragover {
                box-shadow: inset 0 0 100px rgba(255, 255, 255, .25), inset 0 0 5px rgba(255, 255, 255, .25);
            }


            #container-drl div.droplet droplet comment:after {
                content: "Drag Image...";
                width: 100%;
                height: 100%;
                pointer-events: none;
                display: inline-block;
                position: absolute;
                z-index: -1;
                font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
                color: rgba(255, 255, 255, .45);
                text-decoration: none;
                font-weight: normal;
                font-size: 20px;
                line-height: 250px;
                text-align: center;
            }

            #container-drl div.droplet droplet.event-dragover comment:after {
                content: "...And Drop!";
            }

            #container-drl div.droplet droplet ul.files {
                height: 100%;
                width: 100%;
                overflow-y: auto;
                padding: 5px;
                list-style-type: none;
                transition: all .5s;
                margin: 9px;
            }

        #container-drl div.droplet.uploading droplet ul.files {
            opacity: .25;
            filter: blur(2px);
            -o-filter: blur(2px);
            -moz-filter: blur(2px);
            -webkit-filter: blur(2px);
            pointer-events: none;
         
        }

        #container-drl div.droplet droplet ul.files li {
            width: 120px;
            height: 120px;
            padding: 1px;
            float: left;
            position: relative;
            margin: 5px;
        }

            #container-drl div.droplet droplet ul.files li img.droplet-preview {
                max-width: 120px;
                background-size: cover;
                background-repeat: no-repeat;
                height: 120px;
                width: 120px;
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, .25);
                border: 1px solid white;
                display: block;
                vertical-align: middle;
            }

            #container-drl div.droplet droplet ul.files li div.delete {
                background-color: rgba(0, 0, 0, .25);
                width: 60px;
                height: 60px;
                font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
                color: white;
                font-size: 30px;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, .30);
                text-align: center;
                cursor: pointer;
                line-height: 60px;
                position: absolute;
                border-radius: 50%;
                z-index: 101;
                top: 30px;
                left: 30px;
                opacity: 0;
                transition: all .30s;
                transform: scale(0.5);
            }

            #container-drl div.droplet droplet ul.files li:hover div.delete {
                opacity: 1;
                transform: scale(1);
            }

            #container-drl div.droplet droplet ul.files li div.delete:hover {
                background-color: rgba(0, 0, 0, .45);
            }

            #container-drl div.droplet droplet ul.files li div.size {
                background-color: rgba(255, 255, 255, .5);
                position: absolute;
                bottom: 5px;
                right: 5px;
                pointer-events: none;
                font-size: 9px;
                font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
                padding: 1px 4px;
            }

        #container-drl div.droplet div.message {
            position: absolute;
            background-color: deepskyblue;
            z-index: 2001;
            width: 100%;
            color: white;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
            font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
            font-size: 12px;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0, 0, 0, .25);
            transition: all .55s;
            padding: 0 12px 0 12px;
            top: -10px;
            cursor: pointer;
        }

            #container-drl div.droplet div.message.visible {
                padding: 15px 12px 10px 12px;
                top: 0;
            }

            #container-drl div.droplet div.message.success {
                background: linear-gradient(to bottom, rgba(112, 176, 224, 1) 0%, rgba(136, 191, 232, 1) 100%);
            }

            #container-drl div.droplet div.message.error {
                background: linear-gradient(to bottom, #ce6784 0%, #cc768d 100%);
            }

        #container-drl div.droplet div.toolbar {
            /*margin-top: 5px;*/
            overflow: hidden;
            position: relative;
            z-index: 3;
            height: 25px;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0, 0, 0, .25);
            background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
        }

            #container-drl div.droplet div.toolbar .button {
                display: inline-block;
                background-color: transparent;
                float: left;
                overflow: hidden;
                width: 100px;
                height: 100%;
                border: 0;
                cursor: pointer;
                border-right: 1px solid rgba(0, 0, 0, .1);
                color: rgba(0, 0, 0, .75);
                transition: all 0.25s;
            }

                #container-drl div.droplet div.toolbar .button:hover {
                    background-color: rgba(0, 0, 0, .1);
                }

            #container-drl div.droplet div.toolbar div.add-files {
                float: left;
                height: 100%;
                overflow: hidden;
                position: relative;
            }

                #container-drl div.droplet div.toolbar div.add-files input.droplet-multiple {
                    position: absolute;
                    top: -10px;
                    font-size: 28px;
                    left: -90px;
                    z-index: 1001;
                    opacity: 0.0001;
                    cursor: pointer;
                }

                #container-drl div.droplet div.toolbar div.add-files:hover input.add-files {
                    background-color: rgba(0, 0, 0, .1);
                }

            #container-drl div.droplet div.toolbar input.upload-files {
                transition: background-color 0.25s;
                outline: none;
                pointer-events: none;
                color: rgba(0, 0, 0, .15);
            }

                #container-drl div.droplet div.toolbar input.upload-files.clickable {
                    pointer-events: all;
                    color: rgba(0, 0, 0, .75);
                }

            #container-drl div.droplet div.toolbar comment.progress {
                display: inline-block;
                height: 25px;
                line-height: 25px;
                float: right;
                overflow: hidden;
                font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
                font-weight: 400;
                color: rgba(0, 0, 0, .35);
                font-size: 11px;
                padding: 0 8px;
                margin-right: -60px;
                opacity: 0;
                transition: all 0.55s;
            }

                #container-drl div.droplet div.toolbar comment.progress.visible {
                    margin-right: 0;
                    opacity: 1;
                }

        #container-drl div.droplet input.droplet-multiple {
            color: white;
            margin-top: 5px;
        }

.modal-content-droplet {
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
